%btn-reset {
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  color: currentColor;
}

.translator-wrapper {
  position: relative;
  // padding-bottom: 15px;
  // margin-bottom: 15px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  >.btn {
    position: relative;

    svg {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      stroke: var(--theme-success-650);
    }
  }

  >div {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .locale-select {
    &__dropdown {
      position: relative;

      &.open {
        .locale-select__list {
          opacity: 1;
          background-color: var(--theme-elevation-0);
          z-index: 3;
        }
      }
    }

    &__button {
      cursor: pointer;
    }

    &__list {
      position: absolute;
      opacity: 0;
      transition: opacity 0.25s;
      left: 0;
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 10px;
      left: -10px;

      >span {
        cursor: pointer;
      }
    }
  }

  .collapsible {
    // --toggle-pad-h: 10px;
    // --toggle-pad-v: 10px;
  }

  .collapsible__content {
    padding-bottom: 20px;
  }

  >button {
    margin-top: -20px;
    margin-bottom: 0;
  }

  .translator-type {
    margin-top: 10px;
    margin-bottom: 0;

    label {
      padding-bottom: 0;
    }
  }

  // > span {
  //   position: absolute;
  //   bottom: -5px;
  //   left: 0;
  // }
}

// .translation-button {
//   width: 30px;
//   height: 30px;
//   position: absolute;
//   top: 0;
//   right: 0;

//   &::before {
//     height: 30px;
//     width: 30px;
//     position: absolute;
//     right: 20px;
//     top: 50%;
//   }
// }